/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 100px auto;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  color: var(--text-color);
}

@media (width > 375px) {
  .page { 
    max-inline-size: 48.55vi;
  }
}

/* -----------------------header------------------------ */

.header--width {
  inline-size: var(--width-value);
}

.header {
  display: grid;
  place-items: center;
  gap: 20px;
  padding-block-start: 122px;
  margin-block-end: 100px;
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  background-color: var(--background-color);
  font-family: var(--accent-font), monospace;
  text-transform: uppercase;
}

@media (width > 375px) {
  .header { 
    padding-block-start: clamp(122px, 138px, 154px);
  }
}

.header__logo {
  font-size: clamp(3.064rem, 2.2rem + 3.3vw, 4.064rem);
}


.header__title {
  font-size: clamp(0.87rem, 0.45rem + 1.1vw, 1.87rem);
}

.theme-menu {
  padding: 4px 0px 27px 20px;
}

.theme-menu__list {
  display: grid;
  gap: 10px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  position: relative;
  font-size: clamp(0.87rem, 0.87rem, 1.87rem);
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: -13px;
  animation: arrow 4s infinite ease-in-out;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  border-block-end: 2px solid currentColor;
  inline-size: 100%;
  inset-inline-start: 0;
  inset-block-end: 0;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  opacity: 60%;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* -----------------------content------------------------ */

.content {
  display: grid;
  gap: 50px;
}

.content__card {
  background-color: var(--background-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.content__card-title {
  display: flex;
  flex-direction: column;
  padding: 7px 0px 3px 12px;
  font-variation-settings: "wght" var(--main-font-weight-title);
  font-size: 1.125em;
  line-height: 1.2;
}

@media (width > 375px) {
  .content__card-title { 
    flex-direction: row;
    gap: 4px;
  }
}

.content__card-img {
  position: relative;
}

.card_image {
  inline-size: 100%;
  margin-block-start: 1px;
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.content__card-lable {
  position: absolute;
  inset-block-start: 30px;
  inset-inline-end: 3.8%;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--color-lable-shadow), 0 1px var(--color-lable-shadow),
    1px 0 var(--color-lable-shadow), 0 -1px var(--color-lable-shadow);
  font-family: var(--accent-font), monospace;
  font-size: 0.87em;
  line-height: 0.8;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  color: var(--color-lable-text);
}

.content__card-text {
  display: grid;
  gap: 27px;
  margin: 21px 27px;
  font-size: 1.125em;
  line-height: 1.169em;
}


.content__card-rating {
  display: flex;
  justify-content: flex-end;
  margin: 25px 27px 27px 25px;
}

.content__card-rating__heart {
  border: none;
  background-color: transparent;
}

.button {
  position: relative;
  font-family: var(--accent-font), monospace;
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: 0.87em;
  line-height: 0.8;
  padding: 12px 35px 9px 35px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  transition: 0.5s;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color, #000000);
  transition: color 0.5s ease-out, inline-size 0.5s ease-out;
  block-size: 100%;
  inline-size: 0;
}

.button:hover::before {
  inline-size: 100%;
}

.button:hover .button__text {
  color: #FFFFFF;
  mix-blend-mode: difference;
}

/* -----------------------footer------------------------ */

.footer {
  margin: 51px 32px;
}

.footer__button {
  inline-size: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 14px 10px;
  background-color: var(--background-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.footer__button__text {
  font-family: var(--accent-font), monospace;
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: 0.87em;
  line-height: 12.6px; /* Исправить */
}

.floppy-icon {
  inline-size: 28px;
}

/* -----------------------dialog------------------------ */

.dialog {
  padding: 36px 32px;
  background-color: var(--background-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  color: var(--text-color);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-conteiner {
  display: flex;
  gap: 20px;
  margin-block-end: 20px;
}

.dialog__text {
  font-family: var(--accent-font), monospace;
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: 0.87em;
  line-height: 21px; /* Исправить */
}

.dialog__button {
  inline-size: 100%;
  padding: 5px;
  background-color: var(--background-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.dialog__button-text {
  font-family: var(--accent-font), monospace;
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: 0.87em;
  line-height: 12.6px; /* Исправить */
  text-transform: uppercase;
}

.dialog__floppy-icon {
  inline-size: 100px;
}
