/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 100px auto;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  color: var(--text-color);
}

@media (width > 375px) {
  .page { 
    width: 37.5vi;
  }
}

/* -----------------------header------------------------ */

.header--width {
  width: var(--width-value);
}

.header {
  display: grid;
  place-items: center;
  gap: 20px;
  padding-top: 121px; /* Исправить */
  margin-bottom: 100px; /* Исправить */
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  background-color: var(--background-color);
  font-family: var(--accent-font), monospace;
  text-transform: uppercase;
}

.header__logo {
  font-size: clamp(3.06rem, 3.06rem, 4.06rem);
}

.header__title {
  font-size: clamp(0.87rem, 0.87rem, 1.87rem);
}

.theme-menu {
  padding: 5px 0px 27px 20px; /* Исправить */
}

.theme-menu__list {
  display: grid;
  gap: 10px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  position: relative;
  font-size: clamp(0.89rem, 0.89rem, 1.89rem);
  text-transform: uppercase;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -13px;
}

/* -----------------------content------------------------ */

.content {
  display: grid;
  gap: 50px;
}

.content__card {
  background-color: var(--background-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.content__card-title {
  padding-top: 7px; /* Исправить */
  padding-left: 12px; /* Исправить */
  padding-bottom: 3px; /* Исправить */
  font-variation-settings: "wght" var(--main-font-weight-title);
  /* font-size: clamp(0.89rem, 1.25rem, 1.89rem); */
  font-size: 18px; /* Исправить */
  line-height: 21.78px; /* Исправить */
}

.content__card-img {
  position: relative;
}

.card_image {
  
  width: 100%;
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.content__card-lable {
  position: absolute;
  top: 25px; /* Исправить */
  right: 13px; /* Исправить */
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);
  font-family: var(--accent-font), "fantasy", sans-serif;
  font-size: 14px; /* Исправить */
  line-height: 14px; /* Исправить */
  mix-blend-mode: hard-light; /* Исправить */
  opacity: 0.5; /* Исправить */
  color: var(--text-color); /* Исправить */
}

.content__card-text {
  display: grid;
  gap: 27px;
  margin: 21px 28px; /* Исправить */
  font-size: 18px; /* Исправить */
  line-height: 21px; /* Исправить */
}


.content__card-rating {
  display: flex;
  justify-content: flex-end;
  margin: 25px 27px 26px 25px;
}

.content__card-rating__heart {
  border: none;
  background-color: transparent;
}

.content__card-rating__like-button {
  font-family: var(--accent-font), monospace;
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: 14px; /* Исправить */
  line-height: 14px; /* Исправить */
  padding: 11px 35px 9px 35px; /* Исправить */
  background-color: transparent;
  border: 2px solid var(--accent-color);
}

/* -----------------------footer------------------------ */

.footer {
  margin: 51px 32px;
}

.footer__button {
  width: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
  background-color: var(--background-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.footer__button__text {
  font-family: var(--accent-font), monospace;
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: 14px; /* Исправить */
  line-height: 12.6px; /* Исправить */
}

.floppy-icon {
  inline-size: 28px;
}

/* -----------------------dialog------------------------ */

.dialog {
  padding: 36px 32px;
  background-color: var(--background-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  color: var(--text-color);
}

.dialog-conteiner {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.dialog__text {
  font-family: var(--accent-font), monospace;
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: 14px; /* Исправить */
  line-height: 21px; /* Исправить */
}

.dialog__button {
  width: 100%;
  padding: 5px;
  background-color: var(--background-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.dialog__button-text {
  font-family: var(--accent-font), monospace;
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: 14px; /* Исправить */
  line-height: 12.6px; /* Исправить */
  text-transform: uppercase;
}

.dialog__floppy-icon {
  inline-size: 100px;
}