/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
    --background-color: #000000;
    --background-image:
        repeating-linear-gradient(to right, #000000 0px 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #000000 0px 2px, transparent 2px 4px),
        linear-gradient(to bottom, #007f0c 0.01%, #004306);
    --text-color: #00CC14;
    --accent-color: #00CC14;
    --color-lable-text: #00CC14;
    --color-lable-shadow: #000000;
    --color-floppy: #00CC14;
    --color-floppy-hover: #000000;
}

:root.theme-light {
    --background-color: #FFFFFF;
    --background-image:
        repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --text-color: #000000;
    --accent-color: #000000;
    --color-lable-text: #000000;
    --color-lable-shadow: #FFFFFF;
    --color-floppy: #000000;
    --color-floppy-hover: #FFFFFF;
}

@media (prefers-color-scheme: light) { 
    :root { 
        --background-color: #FFFFFF;
        --background-image:
            repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
            repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
            linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
        --text-color: #000000;
        --accent-color: #000000;
        --color-lable-text: #000000;
        --color-lable-shadow: #FFFFFF;
        --color-floppy: #000000;
        --color-floppy-hover: #FFFFFF;
    }
}
    