/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: 'Inter';
    --main-font-weight: 400;
    --main-font-weight-title: 700;

    --accent-font: 'PressStart2P';
    --accent-color: #000000;
    
    --text-color: #000000;

    --background-color: #FFFFFF;
    --background-image:
        repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

    --width-value: 100%;
    
    --color-lable-text: #000000;
    --color-lable-shadow: #FFFFFF;

    --color-floppy: #000000;
    --color-hover: #FFFFFF;

    --color-heart: #FF0000;
    --color-hover-heart: #000000;
}

